/*color scheme and fonts used*/
.colorScheme {
    color: #25A6D9;
    color: #36A6BF;
    color: #D7D9C7;
    color: #A68776;
    color: #401201;
}


.fonts {
    font-family: 'Corben', cursive;
    font-family: 'Martel Sans', sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Fredoka One", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*headings and tags*/

.splashH1 {
    font-family: 'Martel Sans', cursive;    font-weight:bold;
    font-size: 5em;
    color:white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.fill * {
    margin-right:0 !important;
    margin-left:0 !important;
}

.bg-splash {}
h1 {
    font-family: Fira Sans, cursive;
    font-size:1.5em;
    margin-bottom:10px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

p *{
    padding:0.5em;
}
.specialH1 {
    font-weight:bold;
    color:white;
    font-size:3em;
    font-family: Fira Sans, cursive;
    padding:0.4em 0.8em;
    margin:0.2em 0 0.2em 0;
    background-color: #36A6BF;
    width:100%;


}

.specialH1sm {
    font-weight:bold;
    color:white;
    font-size:1.5em;
    font-family: Fira Sans, cursive;
    padding:0.4em 0.8em;
    background-color: #36A6BF;
    width:100%;}

.navbar-toggler{
    color:black;
    border:2px solid grey;
}
.container {
    background-color:rgba(248,248,248,0.93);
    padding:0.5em 0em 0.5em 0em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
#accordion{
    padding-bottom:0.5em;

}

h2 {
    font-family:  Martel Sans, sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;

}

section {
    padding:1.5em;
}

article {
    padding:0.5em;
}

.tac {margin-top: 0.5em;}

/*navbar*/


.navbar-styled {
    padding: 0.8em;
    color: black;
    background-image: url("../img/triangle-mosaic.png");
}
footer .navbar-styled {
    justify-content: center;
}
footer .navbar-styled a {
    margin:0 20px 0 20px;
    text-decoration: none;
}
.navbar-styled a {
    color: black;
    border-bottom: 2px solid transparent;

}

.navbar-styled a:active {
    border-bottom:  #36A6BF 3px solid;
}

.navbar-styled a:hover {
    border-bottom: #EB9448 4px solid;

}

.active {
    border-bottom: 4px solid #36A6BF;
}

.dropdown-menu button{
    margin: 20px 0 20px 0;
    background-color: #EB9448 !important;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*homepage styles*/

.homeBkg {
    background: url("../img/so-white.png") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.bg-splash {
    background-image: url("../img/magicCardsBundle.jpg");

    /* center and scale the image nicely note: can use fixed position for parallax in later build*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    height: 50%;
}

/*kenobi u are a */
.bold1 {
    font-size: 2em;

}

.fill {
    background-color: black;
    opacity: 65%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fillNav .navbar-styled {
    background-image: url("../img/triangle-mosaic.png");
    /*opacity: 65%;*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.asideSplash {
    opacity: 100% !important;
    color: purple;
    font-size: 2em;
}

.section {
    padding-bottom: 0;
    width: 100%;
    background-color:white;
}

.imgGallery {
    display: flex;
    justify-content: center;
}



.imgGallery img {
    height: 100%;
    width: 200px;
    padding: 1em;
    cursor:pointer;
}
.hoverZoom {
    transition: transform 600ms ease-in-out;
    /*transform-origin: right top;*/
}

.hoverZoom:hover {
    transform: scale(1.4);
}



.sectionWhat, .sectionHow {
    background-color:white;
}

.sectionWhy {

}

.sectionHow {
}


/*signup styling*/

.signUp {
    margin: 30px 0px 0 20px;
    padding: 1em;
    border-radius: 5px;
    border: 1px black solid;
    justify-content: center;
    background-color: whitesmoke;

}
.signUp h1{
    padding:10px;
}

.signUpBkg {
    background: url("../img/gallia-endless-dance_thb_1280x960_wallpaper.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.signUp button {
    margin: 20px 0 20px 0;
    background-color: #EB9448 !important;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    background-color: #EB9448;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.btn-styled {
    background-color: #25A6D9;

    color: white;
    padding: 0.3em 0.8em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signUp .inputs {
    margin: 5px;
    max-width: 85%;
    border-radius:3px;
}

/*rules styles*/

.rulesBkg {
    background: url("../img/pack-rat_sl2-rat_1280x960_wallpaper.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*results styles*/
.resultsBkg {
    background: url("../img/Ajani-Strength-of-the-Pride_M20_1280x960.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*submit styles*/
.submitStyles{

    margin: 0.3em 0px 0 0.3em;
    padding: 1em;
    border-radius: 5px;
    border: 1px black solid;
    justify-content: center;
    background-color: whitesmoke;
}
.submitStyles button {
    margin: 20px 0 20px 0;
    background-color: #EB9448 !important;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}






/*media queries*/
@media screen and (max-width: 770px) {
    .signUp {
        margin: 0;
        padding: 1em;
        border-radius: 5px;
        border: 1px black solid;

    }

    .active {
        border:none;
    }

    nav {
        font-size:1.5em;
        padding: 15px 0 15px 0;
    }
    nav a {
        margin: 0.8rem 0 0.8rem 0;
        width:80vw;
        padding:0 5px 0 5px;

        }

    button #dropdownMenu1 {
        min-width: 1000px;
        justify-content: center;
    }
    button#dropdownMenu1.btn.btn-styled {
        color:black;
        min-width:80vw;
        margin: 0.8rem 0 0.8rem 0;


    }

    .splashH1 {
        padding:0.1em;
        text-align: center;
        font-size:2em;
    }

    .specialH1 {
        font-weight:bold;
        color:white;
        font-size:1.5em;
        font-family: Fira Sans, cursive;
        padding:0.2em 0.4em;
        margin:0.1em 0 0.1em 0;
        background-color: #36A6BF;
        width:100%;
    }

    article {
        padding:1em;
    }
    .card-header {
        -moz-box-shadow:    inset 0 0 1px #000000;
        -webkit-box-shadow: inset 0 0 1px #000000;
        box-shadow:         inset 0 0 1px #000000;
    }
    button {
        background-color:white !important;
        -moz-box-shadow:    inset 0 0 2px #000000;
        -webkit-box-shadow: inset 0 0 2px #000000;
        box-shadow:         inset 0 0 2px #000000;
    }

    .list-group {
        padding:1em;
    }

    form {
        padding:2em;
    }

    .submitStyles
    {
        padding:2em;
    }

}

